#Shop {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wine {
  object-fit: fill;
  display: flex;
  justify-self: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  row-gap: 100px;
  padding-bottom: 300px;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}

.wineLabel {
  opacity: 0;
  position: relative;
  height: 80px;
  top: 200px;
  background-color: black;
  color: white;
  padding: 5%;
  text-align: center;
  display: flex;
  justify-self: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.grid-item {
  width: 400px;
  height: 400px;
}
.grid-item:hover > .wineLabel {
  animation: fadeInLabel cubic-bezier(0.23, 1, 0.32, 1) 1;
  opacity: 1;
  animation-fill-mode: both;
  animation-duration: 2s;
}
#Shop > h2 {
  margin: 0;
}
@keyframes fadeInLabel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
